################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
*.nupkg
*.dtbcache
tools
artifacts
*/obj
*/bin
*/.vs
.vs
